@import "iconfont-base"

.i-back
    &:before
        @extend $i-back
.i-tel
    &:before
        @extend $i-tel
.i-leader
    &:before
        @extend $i-leader
.i-flight
    &:before
        @extend $i-flight
.i-hotel
    &:before
        @extend $i-hotel
.i-meal
    &:before
        @extend $i-meal
.i-bus
    &:before
        @extend $i-bus
.i-spot
    &:before
        @extend $i-spot
.i-shop
    &:before
        @extend $i-shop
.i-photo
    &:before
        @extend $i-photo
.i-score-1
    &:before
        @extend $i-score-1
.i-score-2
    &:before
        @extend $i-score-2
.i-score-3
    &:before
        @extend $i-score-3
.i-score-4
    &:before
        @extend $i-score-4
.i-score-5
    &:before
        @extend $i-score-5
.i-add
    &:before
        @extend $i-add
.i-speech
    &:before
        @extend $i-speech
.i-place
    &:before
        @extend $i-place
.i-place-fill
    &:before
        @extend $i-place-fill

.i-header-1
    &:before
        @extend $i-header-1
.i-header-2
    &:before
        @extend $i-header-2
.i-header-3
    &:before
        @extend $i-header-3
.i-header-4
    &:before
        @extend $i-header-4
.i-header-5
    &:before
        @extend $i-header-5
.i-header-6
    &:before
        @extend $i-header-6
.i-header-7
    &:before
        @extend $i-header-7
.i-header-8
    &:before
        @extend $i-header-8
.i-header-9
    &:before
        @extend $i-header-9
.i-header-10
    &:before
        @extend $i-header-10
.i-header-11
    &:before
        @extend $i-header-11
.i-header-12
    &:before
        @extend $i-header-12
.i-header-13
    &:before
        @extend $i-header-13
.i-header-14
    &:before
        @extend $i-header-14
.i-header-15
    &:before
        @extend $i-header-15
.i-header-16
    &:before
        @extend $i-header-16
.i-header-17
    &:before
        @extend $i-header-17
.i-header-18
    &:before
        @extend $i-header-18
.i-header-19
    &:before
        @extend $i-header-19
.i-header-20
    &:before
        @extend $i-header-20
.i-header-21
    &:before
        @extend $i-header-21
.i-header-22
    &:before
        @extend $i-header-22
.i-header-23
    &:before
        @extend $i-header-23
.i-header-24
    &:before
        @extend $i-header-24
.i-header-25
    &:before
        @extend $i-header-25
.i-header-26
    &:before
        @extend $i-header-26
.i-header-27
    &:before
        @extend $i-header-27
.i-header-28
    &:before
        @extend $i-header-28
.i-header-29
    &:before
        @extend $i-header-29
.i-header-30
    &:before
        @extend $i-header-30
.i-header-31
    &:before
        @extend $i-header-31
.i-header-32
    &:before
        @extend $i-header-32
.i-header-33
    &:before
        @extend $i-header-33
.i-header-34
    &:before
        @extend $i-header-34
.i-header-35
    &:before
        @extend $i-header-35
.i-header-36
    &:before
        @extend $i-header-36
.i-loading
    &:before
        content: " "
        display: inline-block
        width: 16px
        height: 11px
        vertical-align: middle
        background: url('data:image/gif;base64,R0lGODlhEAALALMMAOXp8a2503CHtOrt9L3G2+Dl7vL0+J6sy4yew1Jvp/T2+e/y9v///wAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCwAMACwAAAAAEAALAAAEK5DJSau91KxlpObepinKIi2kyaAlq7pnCq9p3NZ0aW/47H4dBjAEwhiPlAgAIfkECQsADAAsAAAAAAQACwAABA9QpCQRmhbflPnu4HdJVAQAIfkECQsADAAsAAAAABAACwAABDKQySlSEnOGc4JMCJJk0kEQxxeOpImqIsm4KQPG7VnfbEbDvcnPtpINebJNByiTVS6yCAAh+QQJCwAMACwAAAAAEAALAAAEPpDJSaVISVQWzglSgiAJUBSAdBDEEY5JMQyFyrqMSMq03b67WY2x+uVgvGERp4sJfUyYCQUFJjadj3WzuWQiACH5BAkLAAwALAAAAAAQAAsAAAQ9kMlJq73hnGDWMhJQFIB0EMSxKMoiFcNQmKjKugws0+navrEZ49S7AXfDmg+nExIPnU9oVEqmLpXMBouNAAAh+QQFCwAMACwAAAAAEAALAAAEM5DJSau91KxlpOYSUBTAoiiLZKJSMQzFmjJy+8bnXDMuvO89HIuWs8E+HQYyNAJgntBKBAAh+QQFFAAMACwMAAIABAAHAAAEDNCsJZWaFt+V+ZVUBAA7') no-repeat 50% 50%

@css {
    @keyframes recording{
        0%{
            transform:scaley(1)
        }
        80%{
            transform:scaley(0.3)
        }
        90%{
            transform:scaley(1)
        }
    }
}

.i-recording
    display: -webkit-box
    -webkit-box-pack: justify
    span
        display: block
        width: 2px
        height: 100%
        background-color: currentColor
        animation: recording 0.9s infinite cubic-bezier(0.11, 0.49, 0.38, 0.78)
        &:nth-child(3)
            animation-delay:-.9s
        &:nth-child(2)
        &:nth-child(4)
            animation-delay:-.65s
        &:nth-child(1)
        &:nth-child(5)
            animation-delay:-.4s