@css {
    @font-face{
        font-family: "iconfont";
        src: url('iconfont/iconfont.eot'); /* IE9*/
        src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
            url('iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url('iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
    }
}

$iconfont
    font-family: "iconfont" !important
    font-style:normal
    -webkit-font-smoothing: antialiased
    -webkit-text-stroke-width: 0.2px
    -moz-osx-font-smoothing: grayscale

$i-back
    @extend $iconfont
    content: "\e600"
$i-tel
    @extend $iconfont
    content: "\e60e"
$i-leader
    @extend $iconfont
    content: "\e601"
$i-flight
    @extend $iconfont
    content: "\e60d"
$i-hotel
    @extend $iconfont
    content: "\e60c"
$i-meal
    @extend $iconfont
    content: "\e60f"
$i-bus
    @extend $iconfont
    content: "\e611"
$i-spot
    @extend $iconfont
    content: "\e605"
$i-shop
    @extend $iconfont
    content: "\e610"
$i-photo
    @extend $iconfont
    content: "\e603"
$i-score-1
    @extend $iconfont
    content: "\e614"
$i-score-2
    @extend $iconfont
    content: "\e618"
$i-score-3
    @extend $iconfont
    content: "\e61a"
$i-score-4
    @extend $iconfont
    content: "\e613"
$i-score-5
    @extend $iconfont
    content: "\e617"
$i-add
    @extend $iconfont
    content: "\e602"
$i-speech
    @extend $iconfont
    content: "\e61b"
$i-place
    @extend $iconfont
    content: "\e61c"
$i-place-fill
    @extend $iconfont
    content: "\e636"

$i-header-1
    @extend $iconfont
    content: "\e622"
$i-header-2
    @extend $iconfont
    content: "\e629"
$i-header-3
    @extend $iconfont
    content: "\e62a"
$i-header-4
    @extend $iconfont
    content: "\e627"
$i-header-5
    @extend $iconfont
    content: "\e626"
$i-header-6
    @extend $iconfont
    content: "\e625"
$i-header-7
    @extend $iconfont
    content: "\e624"
$i-header-8
    @extend $iconfont
    content: "\e623"
$i-header-9
    @extend $iconfont
    content: "\e628"
$i-header-10
    @extend $iconfont
    content: "\e62b"
$i-header-11
    @extend $iconfont
    content: "\e621"
$i-header-12
    @extend $iconfont
    content: "\e62c"
$i-header-13
    @extend $iconfont
    content: "\e620"
$i-header-14
    @extend $iconfont
    content: "\e61f"
$i-header-15
    @extend $iconfont
    content: "\e62d"
$i-header-16
    @extend $iconfont
    content: "\e61e"
$i-header-17
    @extend $iconfont
    content: "\e62e"
$i-header-18
    @extend $iconfont
    content: "\e62f"
$i-header-19
    @extend $iconfont
    content: "\e61d"
$i-header-20
    @extend $iconfont
    content: "\e619"
$i-header-21
    @extend $iconfont
    content: "\e616"
$i-header-22
    @extend $iconfont
    content: "\e630"
$i-header-23
    @extend $iconfont
    content: "\e631"
$i-header-24
    @extend $iconfont
    content: "\e632"
$i-header-25
    @extend $iconfont
    content: "\e615"
$i-header-26
    @extend $iconfont
    content: "\e612"
$i-header-27
    @extend $iconfont
    content: "\e60b"
$i-header-28
    @extend $iconfont
    content: "\e60a"
$i-header-29
    @extend $iconfont
    content: "\e609"
$i-header-30
    @extend $iconfont
    content: "\e608"
$i-header-31
    @extend $iconfont
    content: "\e633"
$i-header-32
    @extend $iconfont
    content: "\e607"
$i-header-33
    @extend $iconfont
    content: "\e606"
$i-header-34
    @extend $iconfont
    content: "\e634"
$i-header-35
    @extend $iconfont
    content: "\e635"
$i-header-36
    @extend $iconfont
    content: "\e604"