#login
	background-color: #1C1B1F
	.container
		position: absolute
		width: 100%
		left: 0
		top: 50%
		margin-top: -150px
	p
		margin: 10px 0
	.content-block-title
		color: #999
		font-size: 16px
		line-height: 24px
	.input
		border: none
		box-shadow: none