.score
	display: inline-block
	font-size: 36px
	line-height: 1
	height: 40px
	overflow: hidden
	vertical-align: middle
	a
		display: inline-block
		color: #ddd
		//font-weight: bold
	.i-score-1
		vertical-align: 3px
	.i-score-5
		vertical-align: 3px
	&.score-1
		.i-score-1
			//color: #e00
			color: #FFBE00
	&.score-2
		.i-score-1
		.i-score-2
			//color: #FF8300
			color: #FFBE00
	&.score-3
		.i-score-1
		.i-score-2
		.i-score-3
			color: #FFBE00
	&.score-4
		.i-score-1
		.i-score-2
		.i-score-3
		.i-score-4
			//color: #8FCA05
			color: #FFBE00
	&.score-5
		a
			//color: #00BD07
			color: #FFBE00